
/* .........font-fmaily.............. */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* ..................global styles.................. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
}

/* .......................font fmmaily.................. */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* ................share styles................. */
.spin-badge-animation {
  animation: spin 4s  infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn:hover,
.btn-j:hover {
  background-color: #c84906;
  transition: background-color 0.3s;
}

.secendary-gray {
  color: rgba(0, 0, 0, 0.5);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}
.hidden {
  display: none;
}

/* ...................navbar styles ................................. */
.navbar {
  justify-content: space-between;
  margin-top: 30px;
  padding: 0px 32px;
}

.nav-imag img {
  width: 134px;
  height: 82px;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-icon {
  display: flex;
  align-items: center;
  gap: 48px;
}

.link-1 {
  color: #252432;
  font-weight: bold;
}

.link-2,
.link-3 {
  color: #8987a1;
}

.link-4 {
  color: #000000;
  margin-left: 10px;
}

.nav-link li {
  list-style: none;
}

.nav-link a {
  text-decoration: none;
}

/* ........................bannner........................ */

.banner {
  margin-top: 109px;
  padding: 0px 32px;
}

.banner-section {
  justify-content: space-between;
  align-items: end;
}

.banner-content {
  width: 50%;
}

.banner-content h1 {
  color: #000000;
  font-weight: bold;
  font-size: 4.06rem;
  margin-bottom: 13px;
}

.banner-content h1 span {
  color: #e95a08;
  font-weight: bold;
  font-size: 4.06rem;
}

.banner-content p {
  font-size: 1.375rem;
}

.banner-image {
  width: 50%;
}

.banner-image img {
  width: 100%;
}

/* ................Plants section part.......... */

.plants-section {
  margin-top: 120px;
  padding: 0px 32px;
}

.plants-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.plants-content h1 {
  font-size: 3.125rem;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.plants-content h1 span {
  color: #e95a08;
  text-align: center;
}

.plants-content p {
  width: 74%;
  text-align: center;
  font-size: 1.375rem;
}

.caard-contaainer {
  margin-top: 49px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.plants-card-image img {
  width: 100%;
}

.plants-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.plants-card-price {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.plants-card-price p {
  font-size: 1.375rem;
  color: #111111;
  font-weight: semi-bold;
  text-align: center;
}

.plants-card-price h1 {
  font-size: 1.375rem;
  color: #111111;
  font-weight: bold;
  text-align: center;
}

.btn-praimry {
  width: 100%;
  text-align: center;
}

.btn {
  background-color: #e95a08;
  color: #ffffff;
  padding: 19px 80px;
  font-weight: semi-bold;
  text-decoration: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

/* .................flower and plants lover .................. */

.Plants-lover-section {
  margin-top: 210px;
  padding: 0px 32px;
  justify-content: space-between;
  gap: 60px;
  position: relative;
}

.badge-image {
  position: absolute;
  top: -22%;
  left: 17%;
  transform: translateX(17%);
}

.badge-image img{
  width: 30%;
  height:30%;
}

.lover-image {
  width: 50%;
}

.lover-image img {
  width: 100%;
}


.plants-lover-content {
  width: 50%;
  padding: 38px 0px;
}

.plants-lover-content h1 {
  font-size: 3.125rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.plants-lover-content ul {
  padding-left: 32px;
}

.plants-lover-content ul > li {
  font-size: 1.375rem;
  margin-bottom: 20px;
}

/* ..........................Deals styles................. */

.deals-section {
  margin-top: 133px;
  padding: 0px 32px;
  margin-bottom: 120px;
}

.deals-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.deals-content h1 {
  font-size: 3.125rem;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.deals-content span {
  color: #e95a08;
}

.deals-content p {
  width: 74%;
  text-align: center;
  font-size: 1.375rem;
  /* margin-top: 16px; */
}

.deals-card-container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin-top: 120px;
}

.deals-card-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 25px;
  width: 35%;
}

.deals-card-right {
  width: 70%;
}

.deal-bloom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
   background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 8px;
  padding: 60px 48.5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deal-bloom h1 {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.deal-bloom a {
  color: #ffffff;
  font-weight: semi-bold;
  text-align: center;
}

.deal-ana {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/deal-ana.png);
  background-repeat: no-repeat;
   background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 8px;
  padding: 60px 48.5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deal-ana h1 {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.deal-ana a {
  color: #ffffff;
  font-weight: semi-bold;
  text-align: center;
}

.deal-zabo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 8px;
  padding: 172px 127.5px 151px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deal-zabo h1 {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.deal-zabo a {
  color: #ffffff;
  font-weight: semi-bold;
  text-align: center;
  font-size: 1.75rem;
}

/* ......................Join the colorful................. */

.join-section {
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 199px;
  padding-bottom: 193px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.join-section h1 {
  font-size: 3.125rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.join-email {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
}

.join-email input {
  width: 80%;
  padding: 19px 0px 19px 20px;
  border: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.btn-j {
  background-color: #e95a08;
  color: #ffffff;
  padding: 19px 53.5px;
  font-weight: semi-bold;
  text-decoration: none;
  border: none;
  /* width: 20%; */
  cursor: pointer;
}

/* ..........foooter............ */

.footer-section {
  padding: 0px 32px;
  margin-bottom: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
  width: 25%;
}

.footer-content img {
  width: 37.5%;
}

.footer-content p {
  font-size: 1.125rem;
}

.footer-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.footer-link a {
  text-decoration: none;
  color: #818794;
}

 .footer-icon, .f{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 25%;
}

.footer-icon {
  align-items: flex-start;
}


@media screen and (max-width: 576px) {
  /* ..............navbaar for mobile ............ */
  .nav-imag img {
    width: 63px;
    height: 38px;
  }
  .navbar {
    flex-direction: row;
    margin-top: 13px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
  }
  .nav-link-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link {
    display: none;
  }
  .nav-link-cart {
    display: block;
  }
  .nav-link-cart li {
    list-style: none;
  }
  .nav-link-cart a {
    text-decoration: none;
  }

  /* .........bnner for mobile .......... */

  .banner {
    margin-top: 28px;
    padding: 0px 0px;
  }
  .banner-section {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 28px;
  }
  .banner-content {
    width: 100%;
    padding: 0px 16px;
  }
  .banner-content h1 {
    font-size: 1.5rem;
    margin-bottom: 6px;
  }
  .banner-content h1 span {
    font-size: 1.5rem;
  }
  .banner-content p {
    font-size: 0.8rem;
  }
  .banner-image {
    width: 100%;
  }

  /* ...................plants section part for mobile............. */

  .plants-section {
    margin-top: 65px;
    padding: 0px 16px;
  }
  .plants-content h1 {
    font-size: 1.5rem;
  }
  .plants-content p {
    font-size: 0.8rem;
  }

  .caard-contaainer {
    margin-top: 28px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 28.5px;
  }
  .plants-card-container {
    display: none;
  }
  .plants-card-container-m {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .plants-card-price {
    gap: 5px;
  }
  .plants-card-price p {
    font-size: 1rem;
  }
  .plants-card-price h1 {
    font-size: 1rem;
  }
  .btn {
    padding: 19px 30.5px;
  }

  /* .................Flower and plants lover for mobile............ */

  .Plants-lover-section {
    margin-top: 41.5px;
    padding: 0px 16px;
    justify-content: space-between;
    flex-direction: column;
    gap: 18px;
    position: static;
  }
  .badge-image {
  position: absolute;
  top: 80px;
  right: 875px;
  display: none;
}
  .lover-image {
    width: 100%;
  }

  .plants-lover-content {
    width: 100%;
    padding: 0px 0px;
  }
  .plants-lover-content h1 {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }

  .plants-lover-content ul {
    padding-left: 22px;
  }
  .plants-lover-content ul > li {
    font-size: 0.85rem;
    margin-bottom: 20px;
  }

  /* ...............Deals section styles for mobile........... */

  .deals-section {
    margin-top: 100px;
    padding: 0px 16px;
    margin-bottom: 40px;
  }
  .deals-content h1 {
    font-size: 1.5rem;
  }
  .deals-content p {
    font-size: 0.85rem;
  }
  .deals-card-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    margin-top: 51px;
  }
  .deals-card-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .deals-card-right {
    width: 100%;
  }

  .deal-zabo {
    padding: 60px 48.5px;
  }
  .deal-zabo h1 {
    font-size: 1.25rem;
  }
  .deal-zabo a {
    font-size: 1rem;
  }

  /* .............join section for mobile............ */

  .join-section {
    background-image: url(../assets/news-letter-bg.png);
    padding-top: 110.5px;
    padding-bottom: 64px;
  }
  .join-section h1 {
    font-size: 1.25rem;
  }
  .join-email {
    width: 75%;
  }
  .join-email input {
    width: 70%;
  }
  .btn-j {
    padding: 19px 12px;
    width: 30%;
  }

  /* ....................foooter section styles for mobile.............. */

  .footer-section {
  padding: 0px 16px;
  /* width: 85%; */
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.footer-content {
  width: 85%;
}
.footer-content img {
  width: 45%;
}
.footer-content p {
  font-size: 1rem;
}
 .footer-icon, .f{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 70%;
}


}
